body {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #000;
  height: 100%;
  background-color: #f6f6f6; /* 배경색 변경 */
}


.card-img-top {
  width: 100%;
  height: 250px; /* 원하는 높이를 설정하세요 */
  object-fit: cover;
}


.text-container h2 {
  margin: 0 0 20px 0;
}

.text-container p {
  line-height: 1.5;
}

.search-container {
  display: flex;
}

.search-container input[type="text"] {
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 50px;
  width: 500px;
}

.search-container input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: #e15561;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.info {
  margin-top: 0; /* 위쪽 마진을 없애기 위해 변경 */
  /* margin-left: 100px; */
  width: 600px; /* 가로 크기 고정 */
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}


.infoSection {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9ecef;
}

.infoItem {
  list-style: none;
  font-size: 16px;
}

.infoDesc {
  display: inline;
}

.infoText {
  display: inline;
}

.info strong {
  width: 200px;
  display: inline-block;
}

.info li {
  margin-bottom: 12px;
}

.nav-link {
  font-size: 14px;
}


.productWrapper .summary .info {
  display: inline-block;
  width: 50.5rem;
  margin-top: 0.4rem;
  margin-left: 2.5rem;
  vertical-align: top;
}

.productWrapper .productSide .sideMain {
  width: 33rem;
  margin: 0 auto;
  border: 0.1rem solid #b6bdc7;
  border-radius: 1.5rem;
}


.image-container {
  margin-left: 50px;
}

#bookingButton {
  background-color: #dc3545;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
}

.footerContainer p {
  margin: 0;
  color: #999;
}

.main .image-container {
  width: 50%;
  margin-right: 40px;
}

.image{
  margin-top: 50px;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.category-container {
  flex: 0 0 20%;
  max-width: 20%;
  margin-right: 30px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  font-family: 'Nanum Gothic', sans-serif;
}

.card-title {
  margin-bottom: .5rem;
  font-weight: bold;
  font-family: 'Nanum Gothic';
}

.card-container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#eventForm {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 10px;
}

.form-control-file {
  margin-top: 10px;
}

#saveButton {
  float: right;
  width: 120px;
}

.event-form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 40px;
}

#eventForm {
  width: 90%;
  max-width: 800px;
}

label {
  font-size: 1.1rem; /* 원하는 글씨 크기로 변경 */
}

.reservation-card {
  margin-top: 100px;
  margin-left: 100px;
  padding: 20px;
  width: auto;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reservation-header {
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.reservation-info-item {
  list-style: none;
  font-size: 16px;
  margin-bottom: 12px;
}

.reservation-info-label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.reservation-info-text {
  display: inline;
}

/* pagination 스타일 커스텀 */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  color: #e15561;
  background-color: #fff;
  border: 1px solid #dc3545;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #e15561;
  border: 1px solid #dc3545;
}

.pagination .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 43, 43, 0.5);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #dc3545;
  border-color: #e15561;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 1rem;
}

/*카드슬라이드*/

#carouselExampleInterval {
  max-width: 1000px;
  margin: 0 auto;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}







/***/
/*{*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/

/*h5*/
/*{*/
/*  margin:0px;*/
/*  font-size:1.4em;*/
/*  font-weight:700;*/
/*}*/

/*p*/
/*{*/
/*  font-size:12px;*/
/*}*/

.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}


.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}




