body {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #000;
  height: 100%;
  background-color: #f8f9fa; /* 배경색 변경 */
}


.card-img-top {
  width: 100%;
  height: 250px; /* 원하는 높이를 설정하세요 */
  object-fit: cover;
}


.text-container h2 {
  margin: 0 0 20px 0;
}

.text-container p {
  line-height: 1.5;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container input[type="text"] {
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 50px;
  width: 400px;
}

.search-container input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.info {
  margin-top: 0; /* 위쪽 마진을 없애기 위해 변경 */
  /* margin-left: 100px; */
  width: 600px; /* 가로 크기 고정 */
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}


.infoSection {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9ecef;
}

.infoItem {
  list-style: none;
  font-size: 16px;
}

.infoDesc {
  display: inline;
}

.infoText {
  display: inline;
}

.info strong {
  width: 200px;
  display: inline-block;
}

.info li {
  margin-bottom: 12px;
}

.nav-link {
  font-size: 14px;
}


.productWrapper .summary .info {
  display: inline-block;
  width: 50.5rem;
  margin-top: 0.4rem;
  margin-left: 2.5rem;
  vertical-align: top;
}

.productWrapper .productSide .sideMain {
  width: 33rem;
  margin: 0 auto;
  border: 0.1rem solid #b6bdc7;
  border-radius: 1.5rem;
}


.image-container {
  margin-left: 50px;
}

#bookingButton {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#bookingButton {
  font-size: 15px;
  width: 100%;
}

.footerContainer p {
  margin: 0;
  color: #999;
}

.main .image-container {
  width: 50%;
  margin-right: 40px;
}

.image{
  margin-top: 50px;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.category-container {
  flex: 0 0 20%;
  max-width: 20%;
  margin-right: 30px;
}

.card-container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#eventForm {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 10px;
}

.form-control-file {
  margin-top: 10px;
}

#saveButton {
  float: right;
  width: 120px;
}

.event-form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 40px;
}

#eventForm {
  width: 90%;
  max-width: 800px;
}

label {
  font-size: 1.1rem; /* 원하는 글씨 크기로 변경 */
}

.reservation-card {
  margin-top: 100px;
  margin-left: 100px;
  padding: 20px;
  width: auto;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reservation-header {
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.reservation-info-item {
  list-style: none;
  font-size: 16px;
  margin-bottom: 12px;
}

.reservation-info-label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.reservation-info-text {
  display: inline;
}

