body {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;
  color: #000;
  height: 100%;
}

.text-container h2 {
  margin: 0 0 20px 0;
}

.text-container p {
  line-height: 1.5;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container input[type="text"] {
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 50px;
  width: 400px;
}

.search-container input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.infoItem {
  list-style: none;
  font-size: 16px;
}

.infoDesc {
  display: inline;
}

.infoText {
  display: inline;
}

.info strong {
  width: 200px;
  display: inline-block;
}

.info li {
  margin-bottom: 12px;
}

.nav-link {
  font-size: 14px;
}

.productWrapper .summary .info {
  display: inline-block;
  width: 50.5rem;
  margin-top: 0.4rem;
  margin-left: 2.5rem;
  vertical-align: top;
}

.productWrapper .productSide .sideMain {
  width: 33rem;
  margin: 0 auto;
  border: 0.1rem solid #b6bdc7;
  border-radius: 1.5rem;
}


.image-container {
  margin-left: 50px;
}

#bookingButton {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#bookingButton {
  font-size: 15px;
  width: 100%;
}

.footerContainer p {
  margin: 0;
  color: #999;
}

.main .image-container {
  width: 50%;
  margin-right: 40px;
}

