<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="navbar :: navbar"></div>
<p id="responseTime"></p>
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-start">
      <div class="col-md-6">
        <div class="image-container">
          <img class="image" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <h5 class="reservation-header">예매완료</h5>
        <ul class="info">
          <li class="reservation-info-item">
            <strong class="reservation-info-label">예매 번호 : </strong>
            <div class="infoDesc id" id="resvId"></div>
          </li>
          <li class="reservation-info-item">
            <strong class="reservation-info-label">공연 제목 : </strong>
            <div class="infoDesc title"></div>
          </li>
          <li class="reservation-info-item">
            <strong class="reservation-info-label">공연 장소 : </strong>
            <div class="infoDesc place">
              <p class="reservation-info-text"></p>
            </div>
          </li>
          <li class="reservation-info-item">
            <strong class="reservation-info-label">공연 날짜 : </strong>
            <div class="infoDesc date">
              <p class="reservation-info-text"></p>
            </div>
          </li>
          <li class="reservation-info-item">
            <strong class="reservation-info-label">가격 : </strong>
            <div class="infoDesc totalPrice">
              <p class="reservation-info-text"></p>
            </div>
          </li>
          <li class="reservation-info-item">
            <strong class="reservation-info-label">매수 : </strong>
            <div class="infoDesc count">
              <p class="reservation-info-text"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--  <div class="image-container" style="margin-left: 150px; margin-top: 50px">-->
<!--    <img class="image"-->
<!--         src="" alt=""-->
<!--         width="100%" HEIGHT="70%">-->
<!--  </div>-->
<!--  <div class="card reservation-card" id="getresv">-->
<!--    <ul class="info">-->
<!--      <h5 class="reservation-header">예매완료</h5>-->
<!--      <li class="reservation-info-item">-->
<!--        <strong class="reservation-info-label">예매 번호 : </strong>-->
<!--        <div class="infoDesc id" id="resvId"></div>-->
<!--      </li>-->
<!--      <li class="reservation-info-item">-->
<!--        <strong class="reservation-info-label">공연 제목 : </strong>-->
<!--        <div class="infoDesc title"></div>-->
<!--      </li>-->
<!--      <li class="reservation-info-item">-->
<!--        <strong class="reservation-info-label">공연 장소 : </strong>-->
<!--        <div class="infoDesc place">-->
<!--          <p class="reservation-info-text"></p>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="reservation-info-item">-->
<!--        <strong class="reservation-info-label">공연 날짜 : </strong>-->
<!--        <div class="infoDesc date">-->
<!--          <p class="reservation-info-text"></p>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="reservation-info-item">-->
<!--        <strong class="reservation-info-label">가격 : </strong>-->
<!--        <div class="infoDesc totalPrice">-->
<!--          <p class="reservation-info-text"></p>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="reservation-info-item">-->
<!--        <strong class="reservation-info-label">매수 : </strong>-->
<!--        <div class="infoDesc count">-->
<!--          <p class="reservation-info-text"></p>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
</body>
<script>
  $(document).ready(function () {
    showReservationCompleted();
    const authToken = getCookie('Authorization');

    if (authToken) {
      // 인증 토큰이 있으면 사용자 권한 정보를 확인
      const payload = JSON.parse(atob(authToken.split('.')[1]));
      const userRole = payload.auth;
      const userNickname = payload.sub;
      console.log(userRole)

      // 회원가입 링크의 텍스트를 사용자 닉네임으로 변경
      const signupLink = document.querySelector('.nav-link[href="/neticket/signup"]');
      signupLink.innerText = userNickname;
      signupLink.href = '/neticket/user';

      // 인증 토큰이 있는 경우, 로그아웃 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그아웃';
      loginButton.addEventListener('click', function (event) {
        // 로그아웃 처리
        event.preventDefault();
        document.cookie = 'Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/neticket/';
      });
    } else {
      // 인증 토큰이 없는 경우, 로그인 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그인';
    }
  });
</script>
</html>