<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="navbar :: navbar"></div>
  <div class="image-container" style="margin-left: 150px; margin-top: 50px">
    <img class="image"
         src="" alt=""
         width="100%" HEIGHT="70%">
  </div>

  <ul class="info" style="margin-top: 100px; margin-left: 100px">
    <li class="infoItem"><strong class="infoLabel">제목</strong>
      <div class="infoDesc title"></div>
    </li>
    <li class="infoItem"><strong class="infoLabel">장소</strong>
      <div class="infoDesc place"></div>
    </li>
    <li class="infoItem"><strong class="infoLabel">가격</strong>
      <div class="infoDesc price"></div>
    </li>
    <li class="infoItem"><strong class="infoLabel">공연 날짜</strong>
      <div class="infoDesc date"></div>
    </li>
    <li class="infoItem"><strong class="infoLabel">예매 가능</strong>
      <div class="infoDesc isAvailable"></div>
    </li>
    <li class="infoItem"><strong class="infoLabel">예매 오픈 시각</strong>
      <div class="infoDesc remainingTime1" id="">00:00:00</div>
    </li>
    <li class="infoItem"><strong class="infoLabel"></strong>
      <div class="infoDesc remainingTime" id="timer"
           style="color: red; font-style: italic; font-size: 50px; display: flex; align-content: center; ">
        00:00:00
      </div>
    </li>

    <button id="bookingButton" onclick="onBookingButtonClick()">예매하기</button>
<!--    <button id="deleteButton" onclick="deleteEvent(eventId)">삭제</button>-->

  </ul>
</div>
</body>
<script>
  $(document).ready(function () {
    // 이벤트 ID를 URL에서 가져옵니다.
    const eventId = window.location.pathname.split('/').pop();

    // 이벤트 세부 정보를 가져옵니다.
    getEventDetails(eventId);

    // 1초마다 남은 시간을 갱신하는 타이머를 시작합니다.
    setInterval(updateRemainingTime, 1000);

    const authToken = getCookie('Authorization');

    if (authToken) {
      // 인증 토큰이 있으면 사용자 권한 정보를 확인
      const payload = JSON.parse(atob(authToken.split('.')[1]));
      const userRole = payload.auth;
      const userNickname = payload.sub;
      console.log(userRole)

      // 회원가입 링크의 텍스트를 사용자 닉네임으로 변경
      const signupLink = document.querySelector('.nav-link[href="/neticket/signup"]');
      signupLink.innerText = userNickname;
      signupLink.href = '/neticket/user';

      // 인증 토큰이 있는 경우, 로그아웃 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그아웃';
      loginButton.addEventListener('click', function (event) {
        // 로그아웃 처리
        event.preventDefault();
        document.cookie = 'Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/neticket/';
      });
    } else {
      // 인증 토큰이 없는 경우, 로그인 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그인';
    }
  });
</script>
</html>
