<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<footer class="common_footer" style="border-top: 1px solid rgb(230, 230, 230); margin-top: 10px">
  <div class="footer_menu">
    <ul class="footer_menu_list">
      <li class="footer_menu_item"><a href="/" class="footer_menu_link">팀원소개 | </a>
      </li>
      <li class="footer_menu_item"><a href="https://github.com/jangjh45" class="footer_menu_link">장진혁</a></li>
      <li class="footer_menu_item"><a href="https://github.com/ChoonB" class="footer_menu_link">김건율</a></li>
      <li class="footer_menu_item"><a href="https://github.com/dltngurxodud" class="footer_menu_link">서성혁</a></li>
      <li class="footer_menu_item"><a href="https://github.com/Yujin-17" class="footer_menu_link">이유진</a></li>
    </ul>
  </div>
  <div class="footer_inner"><span class="footer_corp_title">NETicket</span>
    <address class="footer_address"><p><span class="footer_address_item">주소: https://github.com/hanghae99-Challenge-2-teams</span><span
        class="footer_address_item">대표이사: NETicket</span><span class="footer_address_item">사업자등록번호: 2023-05-04</span>
    </p>
      <p><span class="footer_address_item">1234-5678</span><span class="footer_address_item">neticket@neticket.com</span><span
          class="footer_address_item">통신판매업 신고번호: 제 2023-항해-0504호</span><span
          class="footer_address_item"><a
          href="https://github.com/hanghae99-Challenge-2-teams" target="_blank"
          class="btn_hyperlink">Github 주소</a></span><span
          class="footer_address_item">개인정보보호 책임자: NETicket</span></p></address>
    <span class="footer_copyright">Copyright © NETicket Corporation. All rights reserved.</span>
  </div>
</footer>
</body>
</html>

