<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="navbar :: navbar"></div>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <a href="http://neticket-load-balancer-572290659.ap-northeast-2.elb.amazonaws.com/neticket/events/11">
        <img src="https://image.toast.com/aaaaab/ticketlink/TKL_8/TopBanner_%EB%B9%84%EC%8A%A4%ED%8B%B0.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a href="http://neticket-load-balancer-572290659.ap-northeast-2.elb.amazonaws.com/neticket/events/12">
        <img src="https://image.toast.com/aaaaab/ticketlink/TKL_5/TopBanner_%EB%A0%88%EB%93%9C%EB%B6%81.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a href="http://neticket-load-balancer-572290659.ap-northeast-2.elb.amazonaws.com/neticket/events/13">
        <img src="https://image.toast.com/aaaaab/ticketlink/TKL_6/TopBanner_PC_%EC%9B%90%ED%94%BD.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div id="event_box" class="row"
     style="margin-left: 50px; margin-top: 50px; margin-right: 20px"></div>

<div class="page">
  <nav aria-label="Page navigation example" class="justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div th:replace="footer :: footer"></div>
</body>
<script>
  $(document).ready(function () {
    showEvent(1);
    const authToken = getCookie('Authorization');

    if (authToken) {
      // 인증 토큰이 있으면 사용자 권한 정보를 확인
      const payload = JSON.parse(atob(authToken.split('.')[1]));
      const userRole = payload.auth;
      const userNickname = payload.sub;
      console.log(userRole)

      // 회원가입 링크의 텍스트를 사용자 닉네임으로 변경
      const signupLink = document.querySelector('.nav-link[href="/neticket/signup"]');
      signupLink.innerText = userNickname;
      signupLink.href = '/neticket/user';

      // 사용자 권한에 따라 공연 추가 버튼을 보이거나 숨김
      if (userRole === 'ADMIN') {
        document.querySelector('.nav-link[href="/neticket/admin/event"]').style.display = 'block';
      } else {
        document.querySelector('.nav-link[href="/neticket/admin/event"]').style.display = 'none';
      }

      // 인증 토큰이 있는 경우, 로그아웃 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그아웃';
      loginButton.addEventListener('click', function (event) {
        // 로그아웃 처리
        event.preventDefault();
        document.cookie = 'Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/neticket/';
      });
    } else {
      // 인증 토큰이 없는 경우, 로그인 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그인';
    }

  });
  $(document).on('click', '.col', function () {
    let eventIdString = $(this).data('event-id');
    let eventId = parseInt(eventIdString, 10);
    window.location.href = "/neticket/events/" + eventId;
  });
</script>
</html>