<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
  <style>

    #login-form {
      text-align: center;
      max-width: 700px;
      align-content: center;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 600px;
      transform: translate(-50%, -50%);
    }

    h1 {
      margin-top: 50px;
      margin-left: 100px;
    }

    h2 {
      margin-top: 100px;
    }
  </style>
</head>
<body>
<h1><a href="/neticket" style="text-decoration: none;color: black;">NETicket</a></h1>
<div id="login-form">
  <h2>LOGIN</h2>
  <div class="mb-3">
    <label for="login_email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp"
           placeholder="이메일">
  </div>
  <div class="mb-3">
    <label for="login_password" class="form-label">Password</label>
    <input type="password" class="form-control" id="login_password" placeholder="비밀번호">
  </div>
  <button type="submit" class="btn btn-dark" onclick="login()">로그인</button>
  <hr>
  <button type="button" class="btn btn-warning" onclick="location.href='/neticket/signup'">
    회원가입
  </button>
</div>
</body>
</html>