<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <script type="text/javascript" th:src="@{/js/basic.js}"></script>

  <title>마이 페이지</title>

</head>

<body>
<div class="row justify-content-between align-items-center py-2">
  <div class="col-4">
    <h1 style="margin-top: 30px; margin-left: 70px"><a href="/neticket"
                                                       style="text-decoration: none;color: black;">NETicket</a>
    </h1>
  </div>
  <nav class="col-8">
    <ul class="nav justify-content-end" style="margin-right: 50px">
      <a class="nav-link" href="/neticket/login" style="color: black">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/neticket/signup" style="color: black">회원가입</a>
      </li>
    </ul>
  </nav>
</div>
<form action="#" method="get" class="search-container">
  <input type="text" placeholder="검색">
  <input type="submit" value="검색">
</form>
<div style="display: flex; margin-right: 20px" col-2>
  <div style="margin-left: 50px; margin-top: 50px; margin-right: 20px" class="col-2">
    <p>Category</p>
    <div class="list-group" style="width: 100%; height: 100%">
      <a href="#" class="list-group-item list-group-item-action">공연</a>
      <a href="#" class="list-group-item list-group-item-action">영화</a>
      <a href="#" class="list-group-item list-group-item-action">연극</a>
      <a href="#" class="list-group-item list-group-item-action">뮤지컬</a>
    </div>
  </div>
  <div class="card" id="getmypage">

  </div>
</div>
</body>
<script>
  $(document).ready(function () {
    showMyPage();
    const authToken = getCookie('Authorization');

    if (authToken) {
      // 인증 토큰이 있으면 사용자 권한 정보를 확인
      const payload = JSON.parse(atob(authToken.split('.')[1]));
      const userRole = payload.auth;
      const userNickname = payload.sub;
      console.log(userRole)

      // 회원가입 링크의 텍스트를 사용자 닉네임으로 변경
      const signupLink = document.querySelector('.nav-link[href="/neticket/signup"]');
      signupLink.innerText = userNickname;
      signupLink.href = '/neticket/user';

      // 인증 토큰이 있는 경우, 로그아웃 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그아웃';
      loginButton.addEventListener('click', function (event) {
        // 로그아웃 처리
        event.preventDefault();
        document.cookie = 'Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/neticket/';
      });
    } else {
      // 인증 토큰이 없는 경우, 로그인 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그인';
    }
  });
</script>
</html>