<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="content-container">
  <div class="card-wrapper">
  </div>
</div>
<div class="card-container">
</div>
</div>
<div th:replace="footer :: footer"></div>
</body>
<script>
  $(document).ready(function () {
    showMyPage();
    const authToken = getCookie('Authorization');

    if (authToken) {
      // 인증 토큰이 있으면 사용자 권한 정보를 확인
      const payload = JSON.parse(decodeURIComponent(escape(atob(authToken.split('.')[1]))));
      const userRole = payload.auth;
      const userNickname = payload.nickname;
      console.log(userRole)

      // 회원가입 링크의 텍스트를 사용자 닉네임으로 변경
      const signupLink = document.querySelector('.nav-link[href="/neticket/signup"]');
      signupLink.innerText = userNickname;
      signupLink.href = '/neticket/user';

      // 인증 토큰이 있는 경우, 로그아웃 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그아웃';
      loginButton.addEventListener('click', function (event) {
        // 로그아웃 처리
        event.preventDefault();
        document.cookie = 'Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/neticket/';
      });
    } else {
      // 인증 토큰이 없는 경우, 로그인 버튼으로 변경
      const loginButton = document.querySelector('.nav-link[href="/neticket/login"]');
      loginButton.innerText = '로그인';
    }
  });
</script>
</html>